<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:replace="layouts :: navbar"></nav>
	
	<div class="container">
		<form action="/employees/save" th:object="${employee}" method="POST">
		
		<input type="text" placeholder="First Name" th:field="${employee.firstName}">
		
		<input type="text" placeholder="Last Name" th:field="${employee.lastName}">
		
		<input type="text" placeholder="Email" th:field="${employee.email}">
		
		
		
		<button type="submit">Create Employee</button>
		
		</form>
		
		
		
		<h4>Current Employees</h4>
		
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email address</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aEmployee : ${employeesList}">
					<td th:text="${aEmployee.firstName}"></td>
					<td th:text="${aEmployee.lastName}"></td>
					<td th:text="${aEmployee.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>


</html>