<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:replace="layouts :: navbar"></nav>
	
	<div class="container">
		<form action="/projects/save" th:object="${project}" method="POST">
		
		<input type="text" placeholder="Project Name" th:field="${project.name}">
		
		<select th:field="${project.stage}">
			<option th:value="NOTSTARTED"> Not Started</option>
			<option th:value="INPROGRESS"> In Progress</option>
			<option th:value="COMPLETED"> Completed</option>
		</select>
		
		<textarea type="text" placeholder="Enter Project Description" th:field="${project.description}" ></textarea>
		
		<button type="submit">Create Project</button>
		
		</form>
		
		<h4>Current Projects</h4>
		
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Stage</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projectsList}">
					<td th:text="${aProject.name}"></td>
					<td th:text="${aProject.stage}"></td>
					<td th:text="${aProject.description}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>


</html>